<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <nav class="navbar-fixed-top">
    <div class="row">
      <%= link_to "sign up" , new_user_registration_path %>
      <%= link_to "sign in" , new_user_session_path %>
      <%= link_to "edit" , edit_user_registration_path %>
      <%= link_to "sign out" , destroy_user_session_path, method:"delete" %>
    </div>
  </nav>


  


  <div class="fluid-container"  style="margin-top: 30px">
      <div class="row">
        <div class="col-sm-2" style="position: fixed">
            <% if user_signed_in? %>
              <h5 class="text-danger">chatroomYOOOO</h5>
              <ul>
                <% current_user.chatrooms.each do |chatroom| %>
                  <%= link_to chatroom.name ,chatroom_path(chatroom) %>
                <%end%>
              </ul>
            <% end %>
        </div>
        <div class="col-sm-2" style="left: 20%">
          <%= yield %>
        </div>
      </div>
    </div>

    
    
  </body>
</html>
